body{
	margin: 0;
	padding: 0;
}
header{
		
}
nav{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 26%;
	z-index: 4;

}
ul{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
 	
}
li{
	display: flex;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 90px;
	height: 23px;
	list-style: none;
	border-radius: 25px;
	border: 1px solid #00416d;
}

h1{
position: absolute;
    left: 4%;
    top: -75px;
    font-size: 28px;
    color: blue;

}
main{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3%;
    position: relative;
}

.linha{
    width: -7px;
    height: 76%;
    color: #d5d5d5;
    border: solid 3px;
    position: absolute;
    top: 10px;
    left: 47%;;
}

.img1{
 	max-width: 100%;
}

.img3{
	max-width: 100%;
}
.p1{
position: absolute;
    top: 80px;
    left: 14px;
    width: 148px;
    font-size: 16px;
    color: blue;
}
.p2{
    position: absolute;
    top: 80px;
    left: 14px;
    width: 148px;
    font-size: 15px;
    color: blue;

}
.p3{
    position: absolute;
    top: 80px;
    left: 14px;
    width: 148px;
    font-size: 15px;
    color: blue;
}

.h1{
position: absolute;
    left: 23px;
    top: -8px;
    color: blue;
    letter-spacing: 1px;
}

.h2{
      position: absolute;
    left: 5px;
    top: -8px;
    color: blue;
    letter-spacing: 2px;
    font-size: 22px;
    padding: 3px;
    margin: 19px;
}
.h3{
	    position: absolute;
    left: 13px;
    top: 20px;
    color: blue;
    letter-spacing: 0px;
    font-size: 22px;
}


.section1{
    position: relative;
    padding: 364px;
    margin: 9px;

}

.content1{
        border-radius: 18px;
    position: absolute;
    border: solid red;
    flex-direction: column;
    width: 23%;
    left: 51%;
    top: 103px;
    height: 392px;
}
	

.content2{
      border-radius: 18px;
    position: absolute;
    border: solid red;
    flex-direction: column;
    width: 23%;
    left: 75%;
    top: 103px;
    height: 392px;
}
.content3{
border-radius: 18px;
    position: absolute;
    border: solid red;
    flex-direction: column;
    width: 22%;
    left: 99%;
    top: 103px;
    height: 392px;

}

.titulo1{
 	display: flex;
    position: absolute;
    top: 36%;
    left: 9%;
    letter-spacing: 3px;
    color: #ffffff;
    font-style: normal;
    line-height: -0.8em;
    width: 81px;
    font-size: 5em;
}
.titulo2{
	display: flex;
    position: absolute;
    top: 65%;
    left: 53%;
    color: #ffffff;
    font-style: normal;
    line-height: 1.29em;
    font-size: 2.5em;
    text-align: left;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 8%;
}

.prgf1{
	width: 46%;
    font-family: 'SourceSansPro-Bold';
    color: blue;
    left: -129px;
    position: absolute;
    top: 97px;
    margin: auto;
    font-size: x-large;
	
}
	
.prgf2 {
	
width: 69%;
    left: -121px;
    position: absolute;
    top: 301px;
    margin: -11px;
    font-size: 18px;
    color: blue;
}

.footer{
	position: absolute;
	border-radius:15%;
	border-style: solid;	
	top: 330%;
    left: 70%;
    width: 30%;
    height: 163px;
    margin: -17px;
    padding: -18px; 	
}