@import url('https://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,700');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
}


#home{
    margin-top: -20px;
    background:url("pencil1.jpg")no-repeat center center ;
    background-size: cover;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
                                                        
.menu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:  center;
    top: 0;
    z-index: 1;
    width: 100%;
}

                                                          
.lista-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
                                                          

.item-menu{
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    border-radius: 25px;
    border:solid 1px #000 ;
    margin: 20px;
    background-color: #fff;

    font-family: 'SourceSansPro-Regular';
    font-size: 0.94em;
    color: #00416d;
    font-style: normal;
    text-align: left;
    line-height: 0.8em;
    letter-spacing: 0em;
}
                                                           


.titulo1{
    text-transform: uppercase;
    width: 37%;
    margin: 0%;
    margin-top: 15%;
    margin-right: 8%;   

    font-family: 'PTMono-Bold';
    font-size: 5em;
    color: #ffffff;
    font-style: normal;
    text-align: left;
    line-height: 1.29em;
    letter-spacing: 0em;
}
                                                           
                                                         

.titulo2{
    color: #fff;
    margin-top: 27%;
    margin-right: 15%;

    font-family: 'PTMono-Bold';
    font-size: 2.5em;
    color: #ffffff;
    font-style: normal;
    text-align: left;
    line-height: 2.14em;
    letter-spacing: 0em;
}
    
main{
    display: flex;
    justify-content: center;
    align-items: center;
}                                                            

#sobre{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'SourceSansPro-Bold';
    font-size: 1.88em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.61em;
    letter-spacing: 0em;
    width: 49%;
    padding: 9%;

}                                               
/*.section1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 13%;
    font-family: 'SourceSansPro-Bold';
    font-size: 1.88em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.61em;
    letter-spacing: 0em;
}
 */                                                         
                                                                        

.prgf1{
    width: 100%; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    margin-left: -20%;
    line-height: 1em;
    letter-spacing: 0em;
}
                                                           

.prgf2{
    width: 100%;
    height:10%;
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 0.72em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    margin-left: -20%;
    line-height: 1em;
    letter-spacing: 0em;
}    


.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
}

h1{ 

    font-family: 'SourceSansPro-Bold';
    font-size: 1.88em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.61em;
    letter-spacing: 0em;

}
                                                          
.content1{
    border-radius: 25px;
    border:solid 3px red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5  %;
    padding-top: 11%;
    margin: 0px;
    width: 100%;
    display: flex;
    height: 73%;
    
}
                                                      
.h1{
    width: 100%;
    top: -50px;
    font-family: 'SourceSansPro-Semibold';
    font-size: 1.56em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.34em;
    letter-spacing: 0em;
}
                                                            

.p1{
    width: 100%;
    top: -50px;
    font-family: 'SourceSansPro-Semibold';
    font-size: 1em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.34em;
    letter-spacing: 0em;

}
                                                            


.content2{
    border-radius: 25px;
    border:solid 2px red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:  4.50%;
    margin: 5px;
    width:  70%;
    width: 100%;
    
}
                                                          
.h2{
    width:60%;
    width: 90%;
    font-family: 'SourceSansPro-Semibold';
    font-size: 1.56em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.34em;
    letter-spacing: 0em;
    
}
                                                           

.p2{
    
    color: #1f4ecc;
    font-style: normal;
    text-align: left
    line-height: 0.75em;
    font-family: 'SourceSansPro-Regular';
    letter-spacing: 0em;
    width: 100%;
    position: relative;
    font-size: 0.88em;
    color: #1f4ecc;

}
                                                            
.content3{
    border-radius: 25px;
    border: solid 2px red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0;
    width: 33%;
    height: 42vh;
}
  

.h3{
    top: -85px;
    width: 30vh;
    color: blue;
    font-family: 'SourceSansPro-Semibold'
    line-height: 1.34em;
    letter-spacing: 0em;

}
                                                           
.p3{
    font-family: 'SourceSansPro-Regular';
    font-size:0.88em;
    color: #1f4ecc;
    font-style: normal;
    text-align:left;
    line-height:0.75em;
    letter-spacing:0em;
 }   
                                                          

footer{
    background:url("pencil2.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                          
.menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
                                                           
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
                                                          
.lista img{
    border-radius: 50%;
}
                                                        
 /* @media only screen and (max-width: 768px){*/